.layout {
  display: flex;
  min-height: 100vh;
}

.mainWrapper {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  flex: 1;
}
